face-recognition.json
[{"id":"c4c69e83.726c7","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"e917b9c.0860d48","type":"inject","z":"c4c69e83.726c7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":200,"wires":[["649611fc.82303","a8a0df8.649032"]]},{"id":"c4c0bf0b.32248","type":"debug","z":"c4c69e83.726c7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":160,"wires":[]},{"id":"39b29fe8.8cca3","type":"function","z":"c4c69e83.726c7","name":"","func":"msg.payload=msg.payload[5].link;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":80,"wires":[["c4c0bf0b.32248","65de06a7.d3d2a8"]]},{"id":"629008f4.841ba8","type":"cloudant in","z":"c4c69e83.726c7","name":"","cloudant":"","database":"sample","service":"node-red-hmwps-2021--cloudant-1623673992378-69237","search":"_all_","design":"","index":"","x":420,"y":80,"wires":[["39b29fe8.8cca3"]]},{"id":"649611fc.82303","type":"function","z":"c4c69e83.726c7","name":"","func":"//msg.payload = \"https://36166f97-f0d9-40fe-8c0c-04ac142d6864-bluemix.cloudant.com/newdatabase/_all_docs?include_docs=true&descending=true&limit=1\"\nmsg.payload = { query: \"\", limit: 100,descending:true}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":80,"wires":[["629008f4.841ba8"]]},{"id":"65de06a7.d3d2a8","type":"ui_template","z":"c4c69e83.726c7","group":"b8d15b19.c1e918","name":"","order":6,"width":0,"height":0,"format":"\n<img ng-src = {{msg.payload}} alt=\"image\" style= \"height:300px;width:300px\" />","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":530,"y":200,"wires":[[]]},{"id":"a8a0df8.649032","type":"http request","z":"c4c69e83.726c7","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=itfG7N0O8ScPxMe5LK9Xd6WskjgbHTwomrQBYvVZCI3qEyuz4pZNrhEAKd1olzTBDF7i6m2gWStCuRVb&message=Vennela is absent for the college today&language=english&route=q&numbers=8328666948,7013216826","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":220,"wires":[[]]},{"id":"b8d15b19.c1e918","type":"ui_group","name":"Default","tab":"83a95c20.401f3","order":1,"disp":true,"width":"6","collapse":false},{"id":"83a95c20.401f3","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]